In [7]:
import pandas as pd
from sklearn import preprocessing, tree

In [3]:
data_train = pd.read_csv('data.csv')
#data_test = pd.read_csv('../input/test.csv')

data_train

,c_age,c_exp,c_lastedu,c_totalskill,c_Farea,c_noCertification,J_age,J_exp,J_Edu,J_reqtotalskill,J_FA,yes/no
0,28,6,Bachelors,6,Software & Web Development,3,22,4,Bachelors,5,Software & Web Development,Y
1,26,5,Masters,5,Software & Web Development,1,22,4,Bachelors,5,Software & Web Development,Y
2,24,6,Bachelors,7,Software & Web Development,1,22,4,Bachelors,5,Software & Web Development,Y
3,29,7,Bachelors,7,Software & Web Development,2,22,4,Bachelors,5,Software & Web Development,Y
4,26,6,Bachelors,6,Software & Web Development,2,22,4,Bachelors,5,Software & Web Development,Y
5,28,7,Masters,8,Software & Web Development,2,22,4,Bachelors,5,Software & Web Development,Y
6,28,3,Bachelors,6,Software & Web Development,1,22,4,Bachelors,5,Software & Web Development,N
7,28,3,Bachelors,4,Software & Web Development,5,22,4,Bachelors,5,Software & Web Development,N
8,28,3,Bachelors,3,Software & Web Development,0,22,4,Bachelors,5,Software & Web Development,N
9,28,2,Bachelors,5,Software & Web Development,1,22,4,Bachelors,5,Software & Web Development,N
10,19,1,Intermediate/A-Level,2,Software & Web Development,0,22,4,Bachelors,5,Software & Web Development,N
11,24,6,Intermediate/A-Level,5,Data Entry,4,22,4,Bachelors,5,Software & Web Development,N
12,28,6,Bachelors,4,Software & Web Development,2,22,4,Bachelors,5,Software & Web Development,N
13,28,6,Bachelors,5,Software & Web Development,1,22,4,Bachelors,5,Software & Web Development,N
14,34,10,Masters,3,Computer Networking,0,22,4,Bachelors,5,Software & Web Development,N
15,28,6,Bachelors,6,Software & Web Development,0,22,4,Bachelors,5,Software & Web Development,N
16,28,6,Bachelors,7,Software & Web Development,1,22,4,Bachelors,5,Software & Web Development,N
17,24,2,Intermediate/A-Level,3,Search Engine Optimization (SEO),3,22,4,Bachelors,5,Software & Web Development,N
18,25,3,Bachelors,4,Software & Web Development,0,22,4,Bachelors,5,Software & Web Development,N
19,20,1,Bachelors,8,Software & Web Development,1,22,4,Bachelors,5,Software & Web Development,N

In [6]:
def encode_features(df_train):
    features = ['c_lastedu', 'c_Farea', 'J_Edu', 'J_FA', 'yes/no']
    df_combined = df_train[features]
    
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(df_combined[feature])
        df_train[feature] = le.transform(df_train[feature])
    return df_train
    
data_train = encode_features(data_train)
data_train

,c_age,c_exp,c_lastedu,c_totalskill,c_Farea,c_noCertification,J_age,J_exp,J_Edu,J_reqtotalskill,J_FA,yes/no
0,28,6,0,6,3,3,22,4,0,5,0,1
1,26,5,2,5,3,1,22,4,0,5,0,1
2,24,6,0,7,3,1,22,4,0,5,0,1
3,29,7,0,7,3,2,22,4,0,5,0,1
4,26,6,0,6,3,2,22,4,0,5,0,1
5,28,7,2,8,3,2,22,4,0,5,0,1
6,28,3,0,6,3,1,22,4,0,5,0,0
7,28,3,0,4,3,5,22,4,0,5,0,0
8,28,3,0,3,3,0,22,4,0,5,0,0
9,28,2,0,5,3,1,22,4,0,5,0,0
10,19,1,1,2,3,0,22,4,0,5,0,0
11,24,6,1,5,1,4,22,4,0,5,0,0
12,28,6,0,4,3,2,22,4,0,5,0,0
13,28,6,0,5,3,1,22,4,0,5,0,0
14,34,10,2,3,0,0,22,4,0,5,0,0
15,28,6,0,6,3,0,22,4,0,5,0,0
16,28,6,0,7,3,1,22,4,0,5,0,0
17,24,2,1,3,2,3,22,4,0,5,0,0
18,25,3,0,4,3,0,22,4,0,5,0,0
19,20,1,0,8,3,1,22,4,0,5,0,0

In [13]:
X_all = data_train.drop(['yes/no'], axis=1)
X_all

,c_age,c_exp,c_lastedu,c_totalskill,c_Farea,c_noCertification,J_age,J_exp,J_Edu,J_reqtotalskill,J_FA
0,28,6,0,6,3,3,22,4,0,5,0
1,26,5,2,5,3,1,22,4,0,5,0
2,24,6,0,7,3,1,22,4,0,5,0
3,29,7,0,7,3,2,22,4,0,5,0
4,26,6,0,6,3,2,22,4,0,5,0
5,28,7,2,8,3,2,22,4,0,5,0
6,28,3,0,6,3,1,22,4,0,5,0
7,28,3,0,4,3,5,22,4,0,5,0
8,28,3,0,3,3,0,22,4,0,5,0
9,28,2,0,5,3,1,22,4,0,5,0
10,19,1,1,2,3,0,22,4,0,5,0
11,24,6,1,5,1,4,22,4,0,5,0
12,28,6,0,4,3,2,22,4,0,5,0
13,28,6,0,5,3,1,22,4,0,5,0
14,34,10,2,3,0,0,22,4,0,5,0
15,28,6,0,6,3,0,22,4,0,5,0
16,28,6,0,7,3,1,22,4,0,5,0
17,24,2,1,3,2,3,22,4,0,5,0
18,25,3,0,4,3,0,22,4,0,5,0
19,20,1,0,8,3,1,22,4,0,5,0

In [14]:
y_all = data_train['yes/no']
y_all

0     1
1     1
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: yes/no, dtype: int64

In [15]:
classification = tree.DecisionTreeClassifier()
classification = classification.fit(X_all,y_all)

In [16]:
classification

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [25]:
to_predict = [[28,6,0,6,3,3,22,4,0,5,0]]
#to_predict = [[20,1,0,8,3,1,22,4,0,5,0]]

In [26]:
predict = classification.predict(to_predict)
print(predict)

[1]